.buffer-both {
  margin-bottom: 20px;
  margin-top: 20px;
}

.buffer-top {
  margin-top: 20px;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.column-1-4 {
  float: left;
  width: 25%;
}

.column-1-2 {
  float: left;
  width: 50%;
}

.container:after {
  content: ;
  visibility: hidden;
  display: block;
  height: 0;
  clear:both;
}

.flex {
  display: flex;
}

.justify-content {
  justify-content: space-around;
}
