body {
  padding: 0;
}
.buffer-both {
  margin-bottom: 20px;
  margin-top: 20px;
}

.buffer-top {
  margin-top: 20px;
}

.container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.column-1-4 {
  float: left;
  width: 25%;
}

.column-1-2 {
  float: left;
  width: 50%;
}

.container:after {
  content: ;
  visibility: hidden;
  display: block;
  height: 0;
  clear:both;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content {
  justify-content: space-around;
}

.price {
  width: 250px;
  margin-bottom: 20px;
}

.border {
  border: 1px solid gray;
  background: rgb(253, 218, 227);
  padding: 40px;
}

.border2 {
  border: 1px solid grey;
  background: rgb(245, 199, 245);
  padding: 40px;
}

.flex p {
  padding-top: 20px;
}

.border-button {
  border: 1px solid grey;
  background: rgb(253, 218, 227);
  padding: 40px;
}

@media (max-width: 760px) {
  .column-1-2 {
    width: 100%;
  }

  .column-1-4 {
    width: 100%;
  }
}

.footer-width {
  width: 33%;
}
